:root {
  font-family: "Nunito", "Montserrat", Helvetica, monospace;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../assets/landing.png');
  background-size: cover;
}
/* center content */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}
/* title and description adjustment */
h1 {
  font-size: 3rem;
  margin-top: 25vh;
}
#paragraph {
  display: flex;
  justify-content: center;
}
p {
  padding: 25px;
  margin: 15px;
  width: 50vw;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
button {
  padding: 15px;
  width: 225px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  color: white;
  background:rgba(0, 255, 127, 0.7);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

button:active {
  box-shadow: none;
}
